---
- name: Deploy Scientific Calculator container
  hosts: localhost
  connection: local
  tasks:

    - name: Stop and remove existing container if it exists
      shell: |
        if [ "$(docker ps -aq -f name=scientific-calculator)" ]; then
            docker rm -f scientific-calculator
        fi
      ignore_errors: yes

    - name: Pull latest image from Docker Hub
      command: docker pull akhilballa112/scientific-calculator:latest

    - name: Run Scientific Calculator container in detached mode and keep it alive
      command: >
        docker run -d
        --name scientific-calculator
        akhilballa112/scientific-calculator:latest
        tail -f /dev/null
